
html,body{
	height: 100%;
	width: 100%;
}

.content{
	position: relative;
	height: 100%;
	background:black;
	overflow: hidden;
}	
.yudi{
	position:absolute;
	width: 60px;
	height: 60px;
	background: url(../img/红包.PNG) no-repeat;
	background-size:auto 60px ;
	animation: drops 1.5s ease-in infinite;
	}
@keyframes drops{
	from{opacity: 0;}
	20%{opacity: 1;}
	90%{opacity: 1;}
	to{opacity: 0;transform: translate3d(100px ,100vh,-100px);}
}